@model IEnumerable<Cortana.Models.proveedor>

<select class="form-control" id="id_producto" name="id_producto">
    @foreach (var item in Model)
    {
        <option value="@item.id">@item.nombre</option>
    }
</select>

